:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    color: var(--color-black);
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1352px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

/*--header--*/

header {
    width: 100vw;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-light-grey);
    box-shadow: 0px 3px 6px var(--color-light-grey);
}

.top-bar {
    display: flex;
}

.top-bar > .container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/*--logo--*/

.shop_logo {
    display: flex;
    font-size: 32px;
    line-height: 37px;
    color: var(--color-primary);
    font-weight: 300;
    padding: 15px;
    text-decoration: none;
    font-family: var(--secondary-font);

}


/*--navigation--*/

nav ul {
    list-style: none;
    display: flex;
}

nav li {

}

nav a {
    text-decoration: none;
    padding: 25px 15px;
    font-family: var(--primary-font);
    color: var(--color-grey);
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

nav a:hover {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-black);
}


/*--welcome section--*/

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    font-family: var(--primary-font);
    color: var(--color-black);
}

.welcome h1 {
    font-size: 49px;
    line-height: 57px;
    font-family: var(--secondary-font);
    margin-top: 10px;
    margin-bottom: 10px;
}

.welcome a {
    background: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    padding: 22px 155px;
    color: var(--color-white);
    margin-top: 35px;
    text-decoration: none;
}

.welcome img {
    width: 100vw;
    background-position: center bottom;
    background-size: cover;
}

/*--section statistics--*/

.statistics {
    background-color: var(--color-white);
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 120px;
}

.statistics  > .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.statistics h2 {
    font-family: var(--secondary-font);
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 100px;
}

.info-boxes {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.info-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 48px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.info-box img {
    margin-bottom: 20px;
    min-height: 52px;
}



.info-box p {
    font-size: 20px;
    line-height: 24px;
    font-family: var(--secondary-font);
    letter-spacing: 6px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

.info-box span {
    font-size: 16px;
    line-height: 19px;
    font-family: var(--secondary-font);
    margin-bottom: 20px;
    color: var(--color-grey);
    text-align: center;
}