:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    color: var(--color-black);
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1352px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

h2 {
    font-family: var(--secondary-font);
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 100px;
}

/*--header--*/

header {
    width: 100vw;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-light-grey);
    box-shadow: 0 3px 6px var(--color-light-grey);
}

.top-bar {
    display: flex;
}

.top-bar > .container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/*--logo--*/

.shop_logo {
    display: flex;
    font-size: 32px;
    line-height: 37px;
    color: var(--color-primary);
    font-weight: 300;
    padding: 15px;
    text-decoration: none;
    font-family: var(--secondary-font);

}


/*--navigation--*/

nav ul {
    list-style: none;
    display: flex;
}

nav li {

}

nav a {
    text-decoration: none;
    padding: 25px 15px;
    font-family: var(--primary-font);
    color: var(--color-grey);
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

nav a:hover {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-black);
}


/*--welcome section--*/

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    font-family: var(--primary-font);
    color: var(--color-black);
}

.welcome h1 {
    font-size: 49px;
    line-height: 57px;
    font-family: var(--secondary-font);
    margin-top: 10px;
    margin-bottom: 10px;
}

.welcome a {
    background: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    padding: 22px 155px;
    color: var(--color-white);
    margin-top: 35px;
    text-decoration: none;
}

.welcome img {
    width: 100vw;
    background-position: center bottom;
    background-size: cover;
}

/*--section statistics--*/

.statistics {
    background-color: var(--color-white);
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 120px;
}

.statistics > .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.info-boxes {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.info-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 48px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.info-box img {
    margin-bottom: 20px;
    min-height: 52px;
    z-index: 9;
}

.info-box--red::after {
    content: "";
    position: absolute;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    background-color: var(--color-redish);
    z-index: 0;
    display: flex;
}

.info-box--blue::after {
    content: "";
    position: absolute;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    background-color: var(--color-primary);
    z-index: 0;
    display: flex;
}

.info-box--green::after {
    content: "";
    position: absolute;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    background-color: var(--color-green);
    z-index: 0;
    display: flex;
}


.info-box p {
    font-size: 20px;
    line-height: 24px;
    font-family: var(--secondary-font);
    letter-spacing: 6px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

.info-box span {
    font-size: 16px;
    line-height: 19px;
    font-family: var(--secondary-font);
    margin-bottom: 20px;
    color: var(--color-grey);
    text-align: center;
}

/*--benefits--*/

.benefits {
    width: 100vw;
    display: flex;
    background-color: var(--color-light-grey);
}

.benefits > .container-benefits {
    max-width: 1124px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.benefits-boxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px 15%;

}

.benefits-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.benefits-box img {
    width: 50%;
    display: flex;

}

.benefits-box hr {
    width: 325px;
    height: 4px;
    margin-top: 50px;
    margin-bottom: 90px;
}

.benefits-box--red h2, .benefits-box--blue h2 .benefits-box--green h2 {
    padding-bottom: 30px;
}

.benefits-box--red, .benefits-box--blue {
    width: 50%;
    padding: 90px 20px 90px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefits-box--green {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    padding: 20px 20px 0 35px;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits-box:nth-child(3) {
    justify-content: space-between;
    background-color: var(--color-light-grey);
    border: none;
}

.benefits-box--red hr {
    color: var(--color-redish);
    background-color: var(--color-redish);
}

.benefits-box--blue hr {
    color: var(--color-primary);
    background-color: var(--color-primary);
}

.benefits-box--green hr {
    color: var(--color-green);
    background-color: var(--color-green);
}

.green-img {
    background-color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 50px;
    margin-left: 60px;
}

/*--pricing--*/

.container-pricing {
    width: 100vw;
    padding: 50px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prices h2 {
    margin-top: 50px;
}

.prices-boxes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 18px;
    padding-top: 35px;
    padding-bottom: 50px;
}

.price-box h3 {
    font-weight: bold;
    font-size: 21px;
    font-family: var(--secondary-font);
}

.price-box span {
    font-size: 12px;
    font-family: var(--secondary-font);
    margin-bottom: 50px;
}

.price-box p {
    font-size: 46px;
    line-height: 92px;
}

.prices li {
    font-size: 14px;
    line-height: 41px;
}

.prices li.yes::before {
    content: url("../assets/Ckechmark-1.svg");
    width: 11px;
    height: 11px;
    margin-right: 5px;
}

.prices li.no::before {
    content: url("../assets/Close.svg");
    width: 11px;
    height: 11px;
    margin-right: 5px;
}


.price-box a {
    font-size: 13px;
    line-height: 41px;
    border-radius: 23px;
    text-decoration: none;
    border: 1px solid;
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 50px;
    color: var(--color-white);
}

.price-box--red {
    border: 1px solid var(--color-redish);
}

.price-box--red p {
    color: var(--color-redish);
}

.price-box--red a {
    background-color: var(--color-redish);
    display: flex;
    position: relative;
    bottom: -65px;
}

.price-box--blue {
    width: 31%;
    padding-top: 60px;
    padding-bottom: 60px;
    border: 1px solid var(--color-primary);
    box-shadow: 5px 10px 27px #07ACE629;
}

.price-box--blue p {
    color: var(--color-primary);
}

.price-box--blue a {
    background-color: var(--color-primary);
    display: flex;
    position: relative;
    bottom: -75px;;
}

.price-box--green {
    border: 1px solid var(--color-green);
}

.price-box--green p {
    color: var(--color-green);
}

.price-box--green a {
    background-color: var(--color-green);
    display: flex;
    position: relative;
    bottom: -65px;
}

/*--contact section--*/

.container-contact {
    max-width: 896px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 60px;
    padding-top: 50px;
}

.contacts h2 {
    font-size: 49px;
    line-height: 57px;
    font-family: var(--secondary-font);
    padding-bottom: 22px;
}

.contacts p {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 40px;
}

.contacts span {
    font-size: 17px;
    line-height: 22px;
    color: var(--color-grey);
    font-weight: 600;
    padding-right: 10px;
}

.contacts img {
    width: 27px;
    height: 27px;
    padding-right: 10px;
}

label {
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    color: var(--color-primary);
    text-transform: uppercase;
    letter-spacing: 3px;
}

input {
    border-bottom: 2px solid var(--color-grey);
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 20px;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    font-size: 12px;
    line-height: 17px;
    color: #707070;
    text-transform: none;
    font-family: var(--primary-font);
    letter-spacing: 0;
}

.checkbox span {
    height: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    cursor: pointer;
    margin-right: 15px;
    border: 1px solid #95989A;
    border-radius: 4px;

}

.checkbox {
    cursor: pointer;
    display: flex;
}

.checkbox input:checked + span {
    content: url("../assets/Checkmark.svg");
    z-index: 9;
    height: 24px;
    width: 24px;
    cursor: pointer;
    border: 1px solid #95989A;
    border-radius: 4px;
    padding-left: 4px;
}

.contacts button {
    width: fit-content;
    font-size: 13px;
    line-height: 41px;
    border: 1px solid;
    padding-left: 95px;
    padding-right: 95px;
    margin-top: 50px;
    color: var(--color-white);
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    display: flex;
    align-self: flex-end;
}


/*--footer--*/

.container-footer {
    width: 100vw;
    padding: 20px 135px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -5px 40px #00000029;
    align-items: center;
}

.copyright {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.copyright p {
    color: var(--color-primary);
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 30px;
}

.copyright span {
    font-size: 11px;
    line-height: 15px;
    color: var(--color-grey);
}

