@import '../settings/variables';

body {
    font-family: $primary-font;
    color: $color-black;
    font-size: 1em;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1352px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

h2 {
    font-family: $secondary-font;
    font-size: 2.25em;
    line-height: 2.625em;
    padding-bottom: 100px;
}


