.container-footer {
  width: 100vw;
  padding: 20px 135px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 -5px 40px #00000029;
  align-items: center;

  @include mobPhones {
    padding: 20px 30px;
  }
}

.copyright {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.copyright p {
  color: $color-primary;
  font-family: $secondary-font;
  font-size: 26px;
  line-height: 30px;
}

.copyright span {
  font-size: 11px;
  line-height: 15px;
  color: $color-grey;
}
