.container-pricing {
  width: 100vw;
  padding: 50px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobPhones {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.prices h2 {
  margin-top: 50px;
}

.prices-boxes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobPhones {
  flex-direction: column;
  }
}

.price-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 18px;
  padding-top: 35px;
  padding-bottom: 50px;

  @include mobPhones {
    width: 90%;
    margin-bottom: 50px;
  }
}

.price-box h3 {
  font-weight: bold;
  font-size: 21px;
  font-family: $secondary-font;
}

.price-box span {
  font-size: 12px;
  font-family: $secondary-font;
  margin-bottom: 50px;
}

.price-box p {
  font-size: 46px;
  line-height: 92px;
}

.prices li {
  font-size: 14px;
  line-height: 41px;
}

.prices li.yes::before {
  content: url("../assets/Ckechmark-1.svg");
  width: 11px;
  height: 11px;
  margin-right: 5px;
  }

  .prices li.no::before {
  content: url("../assets/Close.svg");
  width: 11px;
  height: 11px;
  margin-right: 5px;
  }


  .price-box a {
  font-size: 13px;
  line-height: 41px;
  border-radius: 23px;
  text-decoration: none;
  border: 1px solid;
  padding-left: 55px;
  padding-right: 55px;
  margin-top: 50px;
  color: $color-white;
  }

  .price-box--red {
  border: 1px solid $color-redish;
  }

  .price-box--red p {
  color: $color-redish;
  }

  .price-box--red a {
  background-color: $color-redish;
  display: flex;
  position: relative;
  bottom: -65px;
  }

  .price-box--blue {
  width: 31%;
  padding-top: 60px;
  padding-bottom: 60px;
  border: 1px solid $color-primary;
  box-shadow: 5px 10px 27px #07ACE629;

    @include mobPhones {
      width: 100%;
    }
  }

  .price-box--blue p {
  color: $color-primary;
  }

  .price-box--blue a {
  background-color: $color-primary;
  display: flex;
  position: relative;
  bottom: -75px;;
  }

  .price-box--green {
  border: 1px solid $color-green;
  }

  .price-box--green p {
  color: $color-green;
  }

  .price-box--green a {
  background-color: $color-green;
  display: flex;
  position: relative;
  bottom: -65px;
  }
