/*--welcome section--*/

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  font-family: var(--primary-font);
  color: var(--color-black);
}

.welcome h1 {
  font-size: 49px;
  line-height: 57px;
  font-family: var(--secondary-font);
  margin-top: 10px;
  margin-bottom: 10px;
}

.welcome a {
  background: var(--color-primary);
  box-shadow: 5px 10px 14px #07ACE629;
  border-radius: 40px;
  padding: 22px 155px;
  color: var(--color-white);
  margin-top: 35px;
  text-decoration: none;
}

.welcome img {
  width: 100vw;
  background-position: center bottom;
  background-size: cover;
}